uvicorn[standard]
requests

python-dotenv

fastapi
fastapi-azure-auth

google-cloud-documentai
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

langchain-google-genai
langchain-core

protobuf

pydantic
pydantic[email]

llama-cloud
llama-cloud-services

PyJWT[crypto]

sqlalchemy
asyncpg
psycopg2-binary

python-multipart

pandas